.mymetadata
.checkstyle
.classpath
.project
.class
.war
.zip
.rar
.idea
*.iml
.settings/*
/indexes/*
*/target/*
*/classes/*
/target/
.bpmn2d
.bpmn/*

proguard.cfg
.gitattributes
.bak
.png

logs/*
/bin/*

.prefs
**/.settings/*

.txlcn