<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../config/mybatis-3-mapper.dtd">
<mapper namespace="fortec.mscm.cert.mapper.CertificateRepositoryMapper">
    <select id="page" resultType="fortec.mscm.cert.entity.CertificateRepository">
        select
        cr.*,
        c.name as certificate_name,
        c.need_expiry_date as need_expiry_date,
        c.maxium_file_size as maxium_file_size,
        c.maxium_file_count as maxium_file_count,
        c.limit_file_extension as limit_file_extension
        from
        certificate_repository cr
        inner join certificate c on cr.certificate_id = c.id
        <where>
            <if test="request.targetDescribeId != null and request.targetDescribeId != ''">
                and cr.target_describe_id = #{request.targetDescribeId}
            </if>
            <if test="request.certificateName != null and request.certificateName != ''">
                and c.name like concat( '%', #{request.certificateName}, '%')
            </if>
            <if test="request.businessTypeCode != null and request.businessTypeCode != ''">
                and cr.business_type_code = #{request.businessTypeCode}
            </if>
            <if test="request.certificateNo != null and request.certificateNo != ''">
                and cr.certificate_no like concat( '%', #{request.certificateNo}, '%')
            </if>
            <if test="request.beginExpiryDate != null and request.beginExpiryDate != '' and request.endExpiryDate != null and request.endExpiryDate != '' ">
                and cr.expiry_date between #{request.beginExpiryDate} and #{request.endExpiryDate}
            </if>
            and cr.close_flag = 0
        </where>
        order by cr.gmt_modified desc
    </select>
    <select id="list" resultType="fortec.mscm.cert.entity.CertificateRepository">
        select
            cr.*,
            c.name as certificate_name,
            m.name as manufacturer_name,
            c.need_expiry_date as need_expiry_date,
            c.maxium_file_size as maxium_file_size,
            c.maxium_file_count as maxium_file_count,
            c.limit_file_extension as limit_file_extension
        from
        certificate_repository cr
        inner join certificate c on cr.certificate_id = c.id
        inner join `mscm-base`.manufacturer m on m.id = cr.manufacturer_id
        <where>
            <if test="request.targetDescribeId != null and request.targetDescribeId != ''">
                and cr.target_describe_id = #{request.targetDescribeId}
            </if>
            <if test="request.certificateName != null and request.certificateName != ''">
                and c.name like concat( '%', #{request.certificateName}, '%')
            </if>
            <if test="request.businessTypeCode != null and request.businessTypeCode != ''">
                and cr.business_type_code = #{request.businessTypeCode}
            </if>
            <if test="request.certificateNo != null and request.certificateNo != ''">
                and cr.certificate_no like concat( '%', #{request.certificateNo}, '%')
            </if>
            <if test="request.beginExpiryDate != null and request.beginExpiryDate != '' and request.endExpiryDate != null and request.endExpiryDate != '' ">
                and cr.expiry_date between #{request.beginExpiryDate} and #{request.endExpiryDate}
            </if>
            and cr.close_flag = 0
        </where>
        order by cr.gmt_modified desc
    </select>
    <select id="pageForHospitalWarning" resultType="fortec.mscm.cert.entity.CertificateRepository">
        select
            cr.*,
            c.name as certificate_name,
            c.need_expiry_date as need_expiry_date,
            c.maxium_file_size as maxium_file_size,
            c.maxium_file_count as maxium_file_count,
            c.limit_file_extension as limit_file_extension
        from
        certificate_repository cr
        inner join certificate c on cr.certificate_id = c.id
        inner join `mscm-base`.hospital_supplier hs on hs.supplier_id = cr.supplier_id
        <where>
                and hs.hospital_id = #{request.hospitalId}
            <if test="request.businessTypeCode != null and request.businessTypeCode != ''">
                and cr.business_type_code = #{request.businessTypeCode}
            </if>
            <if test="request.beginExpiryDate != null and request.beginExpiryDate != '' and request.endExpiryDate != null and request.endExpiryDate != '' ">
                and cr.expiry_date between #{request.beginExpiryDate} and #{request.endExpiryDate}
            </if>
            <choose>
                <when test="request.expiredMonth != null and request.expiredMonth == -1">
                    and cr.expiry_date &lt;= now()
                </when>
                <when test="request.expiredMonth != null and (request.expiredMonth &gt;= 1 and request.expiredMonth &lt;=6 )">
                    and cr.expiry_date between now() and date_add(now(), interval #{request.expiredMonth} month)
                </when>
                <when test="request.expiredMonth != null and request.expiredMonth == 999">
                    and cr.expiry_date &gt;= date_add(now(), interval 6 month)
                </when>
            </choose>
            and cr.close_flag = 0
        </where>
        order by cr.gmt_modified desc
    </select>
    <select id="pageForSupplierWarning" resultType="fortec.mscm.cert.entity.CertificateRepository">
        select
        cr.*,
        c.name as certificate_name,
        c.need_expiry_date as need_expiry_date,
        c.maxium_file_size as maxium_file_size,
        c.maxium_file_count as maxium_file_count,
        c.limit_file_extension as limit_file_extension
        from
        certificate_repository cr
        inner join certificate c on cr.certificate_id = c.id
        <where>
                and cr.supplier_id = #{request.supplierId}
            <if test="request.businessTypeCode != null and request.businessTypeCode != ''">
                and cr.business_type_code = #{request.businessTypeCode}
            </if>
            <if test="request.beginExpiryDate != null and request.beginExpiryDate != '' and request.endExpiryDate != null and request.endExpiryDate != '' ">
                and cr.expiry_date between #{request.beginExpiryDate} and #{request.endExpiryDate}
            </if>
            <choose>
                <when test="request.expiredMonth != null and request.expiredMonth == -1">
                    and cr.expiry_date &lt;= now()
                </when>
                <when test="request.expiredMonth != null and (request.expiredMonth &gt;= 1 and request.expiredMonth &lt;=6 )">
                    and cr.expiry_date between now() and date_add(now(), interval #{request.expiredMonth} month)
                </when>
                <when test="request.expiredMonth != null and request.expiredMonth == 999">
                    and cr.expiry_date &gt;= date_add(now(), interval 6 month)
                </when>
            </choose>
            and cr.close_flag = 0
        </where>
        order by cr.gmt_modified desc
    </select>
    <select id="pageForAudit" resultType="fortec.mscm.cert.entity.CertificateRepository">
        select
            cr.*,
            c.name as certificate_name
        from
        certificate_repository cr
        inner join certificate c on cr.certificate_id = c.id
        <where>
            <if test="request.supplierId != null and request.supplierId != ''">
                and cr.supplier_id = #{request.supplierId} and cr.target_describe_id = #{request.supplierId}
            </if>
            and cr.close_flag = 0
        </where>
    </select>

</mapper>