<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../config/mybatis-3-mapper.dtd">
<mapper namespace="fortec.mscm.cert.mapper.OverallViewerMapper">

    <select id="listSupplierCertCnt" resultType="fortec.mscm.cert.vo.OverAllSupplier">
        SELECT
            s.id as supplier_id,
            s.`name` supplier_name,
            (SELECT count(1) from certificate_hospital_business chb inner join certificate c on chb.certificate_id = c.id where chb.hospital_id = hs.hospital_id AND chb.business_type_code = 10) as require_cnt,
            (SELECT count(1) from certificate_repository cr where  cr.target_describe_id = s.id AND cr.business_type_code = 10) as uploaded_cnt
        from
        `mscm-base`.supplier s
        inner join `mscm-base`.hospital_supplier hs on s.id = hs.supplier_id
        WHERE hs.hospital_id = #{hospitalId}
    </select>
    <select id="listManufacturerCertCnt" resultType="fortec.mscm.cert.vo.OverAllManufacturer">
        select DISTINCT
            m.id as manufacturer_id,
            m.name as manufacturer_name,
            (SELECT count(1) from certificate_hospital_business chb inner join certificate c on chb.certificate_id = c.id where chb.hospital_id = #{hospitalId} AND chb.business_type_code = 30) as require_cnt,
            (SELECT count(1) from certificate_repository cr where cr.supplier_id = m.supplier_id and cr.target_describe_id = m.id AND cr.business_type_code = 30) as uploaded_cnt
        from
        `mscm-base`.manufacturer m
        where m.supplier_id = #{supplierId}
    </select>
    <select id="listCatalogCertCnt" resultType="fortec.mscm.cert.vo.OverAllCatalog">
        select
            DISTINCT
            mc.id as catalog_id,mc.name as catalog_name,
            (SELECT count(1) from certificate_hospital_business chb inner join certificate c on chb.certificate_id = c.id where chb.hospital_id = #{hospitalId} AND chb.business_type_code = 21) as require_cnt,
            (SELECT count(1) from certificate_repository cr1 where cr1.supplier_id = cr.supplier_id and  cr1.target_describe_id = mc.id AND cr1.business_type_code = 21) as uploaded_cnt
        from
        `mscm-base`.material_catalog mc INNER JOIN certificate_repository cr on cr.target_describe_id = mc.id
        where mc.parent_id = 0 and cr.manufacturer_id = #{manufacturerId}
    </select>
    <select id="listMaterialCertCnt" resultType="fortec.mscm.cert.vo.OverAllMaterial">
        select
            DISTINCT
            m.id as material_id,m.material_name as material_name,
            (SELECT count(1) from certificate_hospital_business chb inner join certificate c on chb.certificate_id = c.id where chb.hospital_id = #{hospitalId} AND chb.business_type_code = 20) as require_cnt,
            (SELECT count(1) from certificate_repository cr1 where cr1.manufacturer_id = cr.manufacturer_id and  cr1.target_describe_id = m.id AND cr1.business_type_code = 20) as uploaded_cnt
        from
        `mscm-base`.material m INNER JOIN certificate_repository cr on cr.target_describe_id = m.id
        inner join `mscm-base`.material_catalog mc on m.catalog_id = mc.id
        where mc.parent_ids  like CONCAT('%,',#{catalogId},',%')
    </select>
    <select id="pageOverAll" resultType="fortec.mscm.cert.entity.CertificateRepository">
        select
            tmp.certificate_name,tmp.business_type_code,cr.id,cr.certificate_no,cr.expiry_date,cr.certificate_sign,cr.certificate_sign_to,cr.version
        from
        (
            select
                c.name as certificate_name,chb.*
            from
            certificate_hospital_business chb
            inner join certificate c on chb.certificate_id = c.id
            where hospital_id = #{request.hospitalId} and business_type_code = #{request.businessTypeCode}
        ) tmp
        left join certificate_repository cr
        on tmp.certificate_id = cr.certificate_id and tmp.business_type_code = cr.business_type_code and cr.target_describe_id = #{request.targetDescribeId} and  cr.close_flag = 0


    </select>

</mapper>
