<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>发票单明细</title>
    </head>
    <body>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <form class="layui-form layui-inline" id="queryForm" lay-filter="queryForm">
                        <div class="layui-input-inline fortec-margin-right">
                            <input type="text" name="code" placeholder="请输入记账单号" autocomplete="off"
                                   class="layui-input">
                        </div>
                        <div class="layui-input-inline fortec-margin-right">
                            <input type="text" name="materialName" placeholder="请输入耗材名称" autocomplete="off"
                                   class="layui-input">
                        </div>
                        <div class="layui-input-inline fortec-margin-right">
                            <input type="text" name="materialSpec" placeholder="请输入耗材规格" autocomplete="off"
                                   class="layui-input">
                        </div>

                        <button class="layui-btn layui-btn-sm layui-btn-normal" lay-submit
                                lay-filter="list">
                            <i class="layui-icon layui-icon-search"></i> 查询
                        </button>
                        <button class="layui-btn layui-btn-sm layui-btn-primary form-reset" type="reset">
                            <i class="layui-icon "></i> 重置
                        </button>

                    </form>
                    <table id="listTable" lay-filter="listTable"></table>
                </div>
            </div>
        </div>


        <script src="/scripts/utils/common.js" data-allow-inherit="false"></script>

        <script>

            extendParentScriptsAndStyles(() => {
                let table = layui.table, $ = layui.$, form = layui.form

                let whereModel = {}
                let allowMultiple = false
                let fnOnConfirm = null

                let renderTable = () => {
                    table.render({
                        id: "listTable",
                        elem: '#listTable',
                        title: '订单明细',
                        height: 'full-80',
                        url: '/settlement/invoice_items/page_for_relate',
                        where: whereModel,
                        page: {
                            limit: 20
                        },
                        request: {
                            pageName: 'currPage',
                            limitName: 'pageSize' //每页数据量的参数名，默认：limit
                        },
                        cols: [[
                            allowMultiple ? {type: 'checkbox'} : {type: "radio"},
                            {field: 'code', title: '记账单号', align: 'center'},
                            {field: 'materialName', title: '品名', align: 'center'},
                            {field: 'materialSpec', title: '规格', align: 'center'},
                            {
                                field: 'manufacturerName',
                                title: '生产厂商',
                                align: 'center'
                            },
                            {field: 'billGmtCreate', title: '记账日期', align: 'center'},
                            {field: 'qty', title: '数量', align: 'center',width:100},
                            {field: 'subtotalAmount', title: '小计（元）', align: 'center',width:100},
                        ]]
                    })

                    // 行单击
                    table.on('row(listTable)', function (obj) {

                    })

                    if (allowMultiple) {
                        return
                    }
                    // 行双击
                    table.on('rowDouble(listTable)', function (obj) {
                        fnOnConfirm && fnOnConfirm([obj.data])

                        let index = parent.layer.getFrameIndex(window.name) //先得到当前iframe层的索引
                        parent.layer.close(index) //再执行关闭
                    })
                }

                // 初始化配置信息，需要暴漏给外部，此为必要函数
                window.initOptions = (options) => {
                    whereModel = options.where ? options.where : {}
                    allowMultiple = options.allowMultiple
                    fnOnConfirm = options.onConfirm
                    renderTable()
                }


                /**
                 * 获取选中行数据
                 * @return {Array}
                 */
                window.getCheckedRows = () => {
                    let checkStatus = table.checkStatus("listTable")
                    return checkStatus.data
                }

                // 表格重载
                window.reloadTable = () => {
                    let where = $('#queryForm').serializeObject()
                    $.extend(where, whereModel)

                    table.reload('listTable', {
                        where
                    })
                }


                // 监听表单重置
                $(".form-reset").click(() => {
                    $("#editForm")[0].reset()
                    $("#editForm").find("input[type='hidden']").val('')
                    $("#editForm").find("input[type='checkbox'],input[type='radio']").removeAttr("checked")
                    form.render(null, "editForm")
                })


                // 监听表单提交事件
                layui.form.on('submit(list)', (data) => {
                    window.reloadTable()
                    return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
                });

            })

        </script>
    </body>


</html>

