<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../config/mybatis-3-mapper.dtd">
<mapper namespace="fortec.mscm.base.mapper.MaterialMapper">

    <select id="page" resultType="fortec.mscm.base.entity.Material">
        select
            m.*,
            s.name as supplier_name,
            c.name as catalog_name,
            f.name as manufacturer_name
        from
        material m
        left join supplier s on m.supplier_id = s.id
        left join material_catalog c on m.catalog_id = c.id
        left join manufacturer f on m.manufacturer_id = f.id
        <where>
            <if test="request.materialTypeCode != null and request.materialTypeCode != ''">
                and m.material_type_code like concat( '%', #{request.materialTypeCode}, '%')
            </if>
            <if test="request.materialName != null and request.materialName != ''">
                and m.material_name like concat( '%', #{request.materialName}, '%')
            </if>
            <if test="request.materialTradeName != null and request.materialTradeName != ''">
                and m.material_trade_name like concat( '%', #{request.materialTradeName}, '%')
            </if>
        </where>
        order by m.gmt_modified desc
    </select>
</mapper>
