<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../config/mybatis-3-mapper.dtd">
<mapper namespace="fortec.mscm.base.mapper.MaterialCatalogMapper">
    <select id="pageForTree" resultType="fortec.mscm.base.entity.MaterialCatalog">
        select
            mc.*,mc2.name as parent_name
        from material_catalog mc
        left join material_catalog mc2 on mc.parent_id = mc2.id
        <where>
            <if test="request.materialTypeCode != null and request.materialTypeCode != ''">
                and mc.material_type_code = #{request.materialTypeCode}
            </if>
            <if test="request.parentId != null and request.parentId != ''">
                and mc.parent_id = #{request.parentId}
            </if>
            <if test="request.code != null and request.code != ''">
                and mc.code like concat ('%',#{request.code},'%')
            </if>
            <if test="request.name != null and request.name != ''">
                and mc.name like concat ('%',#{request.name},'%')
            </if>
        </where>
        order by mc.gmt_modified desc
    </select>
    <select id="exportList" resultType="fortec.mscm.base.vo.MaterialCatalogVO">
        select
            mc.*,mc2.code as parent_code,mc2.name as parent_name
        from material_catalog mc
        left join material_catalog mc2 on mc.parent_id = mc2.id
        order by mc.gmt_modified desc
    </select>
</mapper>